.venv/
Grounded-SAM-2/
outputs/*
!outputs/.gitkeep
!outputs/model/.gitkeep
.env
vision_finetune_images/
plots_comparison/stare/
test.py
plots_comparison/bbox/comparison_bbox_[1-9][0-9].png
openai_finetune*